<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/entry_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Entry Feed</h3>
    <%= render 'shared/feed' %>
    
  </div>
</div>
<% else %>
<div class="page-heading">
  <h1>Welcome to Demo Blog</h1>
  <hr class="medium"></hr>
  <p>
    This is the home page for the Blog demo application.
  </p>
  <div class="button">
   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
 </div>
</div>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <% @entry.each do |entry| %>
  <div class="post-preview">
    <span class="post-title">
      <%= link_to entry.title, entry %>
    </span>
    <h3 class="post-subtitle">
      <%= entry.content %>
    </3>

    <p class="post-meta">Posted by <%= link_to entry.user.name, entry.user %> on <%= time_ago_in_words(entry.created_at) %></p>
  </div>

  <hr></hr>
<% end %>
</div>
<%= will_paginate @entry%>
<% end %>
