<li>
  <div>
    <div><%= link_to gravatar_for(comment.entry.user, size: 50), comment.entry.user %>
    </div>
    <div>
      <span><%= link_to comment.user.name, @entry.user %></span>
      <span><%=comment.created_at.strftime('%B, %d, %Y')%></span>
      <% if logged_in? 
        if comment.user.id == current_user.id%>
        <%= link_to "delete",[comment.entry,comment], method: :delete,
        data: { confirm: "You sure?" } %>
        <% end 
        end%>
        <p><%= comment.content %></p>
      </div>
    </div>
  </li>

