<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %></span>
  <div class="post-preview">

    <span class="post-title">
      <%= link_to entry.title, entry %>
    </span>
    <h3 class="post-subtitle">
     <%= image_tag entry.picture.url if entry.picture? %>
     <%= entry.content %>
   </h3>
   <span class="timestamp">
    <p class="post-meta">Posted on <%= time_ago_in_words(entry.created_at) %></p>
    <% if current_user?(entry.user) %>
    <%= link_to "edit", edit_entry_path(entry)%> |
    <%= link_to "Delete", entry, method: :delete,
    data: { confirm: "You sure?" } %>

    <% end %>
  </span>
</div>
<div>
  <h3>Comments(<%=entry.comments.count%>)</h3>
  <ul>
    <% entry.comments.each do |comment| %>
    <li>
      <div>
        <div><%= link_to gravatar_for(comment.entry.user, size: 50), comment.entry.user %>
        </div>
        <div>
          <span><%= link_to comment.user.name, entry.user %></span>
          <span><%=comment.created_at.strftime('%B, %d, %Y')%></span>
          <% if logged_in? 
            if comment.user.id == current_user.id%>
            <%= link_to "delete",[comment.entry,comment], method: :delete,
            data: { confirm: "You sure?" } %>
            <% end 
            end%>
            <p><%= comment.content %></p>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</li>
