<% @entry = Entry.paginate(page: params[:page], :per_page=>2) %>

<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <% @entry.each do |entry| %>
  <div class="post-preview">
    <span class="post-title">
      <%= link_to entry.title, entry.user %>
    </span>
    <h3 class="post-subtitle">
     <%= entry.content %>
   </3>

   <p class="post-meta">Posted by <%= link_to entry.user.name, entry.user %> on <%= time_ago_in_words(entry.created_at) %></p>
 </div>
 
 <hr></hr>

 <% end %>
</div>
<%= will_paginate @entry%>